torchserve-example/mnist/model-store/mnist.mar
torchserve-example/mnist/app/__pycache__/*
torchserve-example/mnist/app/static/test_data/*
saved_models/*
data/*
notebooks/.ipynb_checkpoints/*
__pycache__/*
cycnss_frauke.sqlite-journal
cycnss_test_frauke.sqlite
notebooks/lightning_logs/*
utils/*
lightning_logs/
mlruns/*
mlruns.db
utils/mathematics.py
utils/__pycache__/*
plots/*
docker_cygnss_deployment/volumes/
raw_data/*
dev_data/*
