streamlit
scikit-learn
pandas
numpy
requests
Pillow
pymongo
mlflow
pandas
matplotlib
numpy
xarray
scipy
h5py
netcdf4
torch
seaborn
pytorch-lightning==1.5.10
cdsapi
podaac-data-subscriber
global-land-mask
prefect==2.6.8
sqlalchemy
