streamlit
scikit-learn
pandas
numpy==1.23.4
requests
Pillow
pymongo
mlflow
pandas
matplotlib
scipy
h5py
netcdf4
torch
seaborn
pytorch-lightning==1.5.10
global-land-mask
prefect==2.6.8
sqlalchemy
dask
tenacity
